@import "base-style";

.about-section {
  padding: 80px 0 0;
  min-height: 100vh;
}

.about-section .about-img {
  flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15px;
}

.about-section .about-img .img-box {
  padding: 15px;
  border-radius: 5px;
}

.about-section .about-img .img-box img {
  width: 100%;
  border: 10px solid transparent;
  border-radius: 5px;
}

.about-section .about-img .social-links {
  margin-top: 20px;
  text-align: center;
}

.about-section .about-img .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: $text-black-600;
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.about-section .about-img .social-links a::after {
  border-radius: 50%;
}

.about-section .about-img .social-links a:hover {
  color: $skin-color;
}

.about-section .about-info {
  flex: 0 0 60%;
  max-width: 60%;
  padding: 0 15px;
}

.about-section .about-info p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: $text-black-600;
  text-align: justify;
}

.about-section .about-info span {
  font-weight: 600;
}

.about-section .about-info .btn-1 {
  margin: 30px 20px 0 0;
}

.about-section .about-tabs {
  padding: 60px 15px 50px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.about-section .about-tabs .tabs-item {
  display: inline-block;
  margin: 0 5px 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-size: 16px;
  color: $text-black-600;
  font-weight: 500;
  text-transform: capitalize;
}

.about-section .about-tabs .tabs-item:hover:not(.active) {
  opacity: 0.6;
}

.about-section .about-tabs .tabs-item.active {
  color: $skin-color;
}

.about-section .tab-content {
  flex: 0 0 100%;
  max-width: 100%;
}

.about-section .skills {
  padding: 0 0 40px;
}

.about-section .skills .skill-item {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  margin-bottom: 40px;
}

.about-section .skills .skill-item p {
  font-size: 16px;
  color: $text-black-600;
  text-transform: capitalize;
  margin: 0 0 10px;
}

.about-section .skills .skill-item .progress {
  height: 20px;
  border-radius: 10px;
  position: relative;
}

.about-section .skills .skill-item .progress-bar {
  background-color: $text-black-600;
  height: 6px;
  left: 7px;
  top: 7px;
  position: absolute;
  border-radius: 10px;
}

.about-section .skills .skill-item .progress .progress-bar span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  color: $text-black-600;
  margin-top: -40px;
}
