<section class="home-section section">
  <div class="effect-wrap">
    <app-effect-square></app-effect-square>
    <app-effect-bullet></app-effect-bullet>
    <app-effect-round></app-effect-round>
    <app-effect-triangle></app-effect-triangle>
    <app-effect-line></app-effect-line>
  </div>
  <div class="container">
    <div class="row fullscreen ai-c">
      <div class="home-text">
        <p>Hello,</p>
        <h2>I'm Fadhil</h2>
        <h1>Frontend Engineer</h1>
        <a (click)="scrolltoMoreAboutMe()" class="btn-1 outer-shadow hover-in-shadow"> More About Me</a>
      </div>
      <div class="home-img">
        <div class="img-box inner-shadow">
          <img src="assets/img/profile-pict-min.JPG" class="outer-shadow" alt="profile-pict">
        </div>
      </div>
    </div>
  </div>
</section>
<app-about-me></app-about-me>